/* --------------nav */
nav{
  background-color: #003231 
}
.navbar-brand img{
  width: 40px;
}
.edit, .result{
  background-color: #215d5c 
}
body{
  background-color: #004140;
}
nav h2, .edit i{
color: rgb(0 216 178);
}